* {
    margin: 0px;
    padding: 0px;
}

.blinkit-navbar {
    border-bottom: 1px solid rgb(238, 238, 238);
    position: sticky;
    top: 0px;
    height: 86px;
    background-color: white;
    z-index: 1000;
}

.vertical-line {
    border-left: 1px solid rgb(238, 238, 238);
    height: 100%;
    
}

.location>p {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    
}

.search-bar {
    background-color: #F8F8F8;
    border-radius: 8px;
    border: 1px solid rgb(238, 238, 238);
    padding: 10px;
    width: 40vw;
   
}

.search-bar>input {
    border: none;
    width: 95%;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    color: rgb(153, 153, 153);
   
}

.search-bar>input:focus {
    outline: none;
   
}

.login-btn {
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    
    /* font-family: Okra-Regular; */
}

.cart-button {
    cursor: pointer;
    height: 52px;
    width: 112px;
    background-color: rgb(12, 131, 31);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    color: white;
    border-radius: 10px;
}
.cart-logo:hover {
    animation: sai 2s ease-in-out 0s 2 normal;
}
@keyframes sai{
    0%{
        transform:rotate(10deg);
    }
    100%{
        transform:rotate(-10deg);
    }
}

.scrollable-div {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 85vw;
    margin-inline: auto;
}

.list {
    display: flex;
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
}

.list>div {
    margin: 10px;
    display: inline-block;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-between;
    /* align-items: center; */
    margin-inline: auto;
}

::-webkit-scrollbar {
    display: none;
}

.my-cards>img {
    z-index: -100px;
    position: absolute;
}

.cards {
    margin-top: 20px;
    width: 85vw;
    justify-content: center;
    margin-inline: auto;

}

.my-cards {
    display: flex;
    justify-content: space-between;

}

.card1 {
    width: 230px;
    box-sizing: border-box;
    position: relative;

}

.my-cards>div {
    margin: 10px;

}

.pro-btn {
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(12, 131, 31);
    background-color: transparent;
}

.discount {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 25px;
    color: rgb(255, 255, 255);
    background-color: #256FEF;
    cursor: pointer;
    font-weight: 800;
    font-size: 9px;
    text-align: center;
    z-index: 20;
}

.timer {
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
    padding: 1px 3px;
    width: fit-content;
}

.prod-name {
    color: rgb(31, 31, 31);
    font-weight: 600;
    /* width: 100%; */
    font-size: 13px;
    margin-top: 6px;
    /* margin-bottom: 6px; */
}

.price {

    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
}

.price-1 {

    color: rgb(130, 130, 130);
    font-weight: 400;
    font-size: 12px;
    text-decoration-line: line-through;
}

.weight {
    color: #666;
    font-size: 12px;
    font-family: 'Okra', Helvetica;
}

.btn1 {
    cursor: pointer;
    width: 66px;
    border: 1px solid rgb(49, 134, 22);
    height: 31px;
    color: rgb(49, 134, 22);
    font-weight: 600;
    font-size: 13px;
    font-family: Okra;
    background-color: rgb(247, 255, 249);
    border-radius: 7px;
    font-weight: 700;
    padding: 5px 10px;
}

.scrollable-div-1 {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 85vw;
    margin-inline: auto;
}

.list-1 {
    display: flex;
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
}

.my-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 85vw;
}

.row-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}
td{
    padding: 3px 20px;
    color: #666666;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
}
.heading{
    margin-bottom: 20px;
}
.table-2{
    flex: 4;
}
.table-1{
    flex:2;
}

.row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 35px;
}

.row-2-col-1 {
    width: 30vw;
    color: #666666;
    font-size: 15px;
}

.row-2-col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    font-size: 15px;
    
}

.row-2-col-2>button {
    width: 110px;
    height: 30px;
    margin-inline: 5px;
    color: white;
    border-radius: 6px;
    background-color: #213B50;
    border: none;
    /* color: #666666; */
    font-size: 15px;
}

.row-2-col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    font-size: 15px;
}

.row-2-col-3>a {
    border-radius: 50%;
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px;
}

.row-3 {
    padding: 10px;
    text-align: justify;
    color: #666666;
    font-size: 15px;
}
.table-categories{
    display: flex;
    /* justify-content:center; */
    align-items: center;
}
.prod-btn1 {
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(12, 131, 31);
    background-color: transparent;
}
@media screen and (min-width: 768px) {
    .search-bar{
        display:flex;
        flex-direction: column;
    }
}